#IG-wrapper {
	text-align: center;	
}

input[type='file'] {
	color: transparent;
	width: 100px;
}
.IG-file-input {
	max-height: 80px;
	transition: opacity 0.2s, max-height 0.2s;
}
.IG-center {
	margin: auto;
}

.IG-movable {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;	
	
	&:hover {
		background-color: rgba(64, 196, 226, 0.2);
	}
	
	&.IG-bg {
		height: calc(100% + 10px);
		max-width: none;	
	}
}

.IG-modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;

	&.IG-visible {
		opacity: 1;
		pointer-events: all;
		z-index: 1000;
			
		.IG-modal-wrap {
			transform: translate(-50%,-50%);
		}
	}
}

.IG-modal-wrap {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 600px;
	width: 100%;
	padding: 25px;
	background-color: white; 
	transform: translate(-50%,-60%);
	transition: transform 0.3s;

	img {
		max-width: 100%;
		height: auto;
		margin: 10px 0;
	}
}

.IG-hidden {
	opacity: 0;
	max-height: 0;
}

.IG-canvas-contain {
	position: relative;
}

.IG-canvas-wrap canvas {
	display: block;
	margin: auto;
}

.IG-canvas-wrap {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 11.7% 0;
	
	&::before {
		content: "+";
		background-color: rgba(0, 204, 0, 0);
		height: 60px;
		min-width: 60px;
		border-radius: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: transparent;
		font-size: 3em;
		line-height: 68px;
		transition: background-color 0.2s, color 0.2s;
		pointer-events: none;
	}
	
	&.IG-empty {

		&::before {
			background-color: #ccc;
			color: white;
		}
	}

	&.IG-hover {
	
		&::before {
			background-color: rgba(0, 204, 0, 0.8); 
			color: white;
		}
	}
	
	&::after {
		content: "loading...";
		background-color: rgba(0, 204, 0, 0);
		padding: 0px 24px;
		height: 60px;
		min-width: 60px;
		border-radius: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: transparent;
		font-size: 2em;
		line-height: 60px;
		transition: background-color 0.2s, color 0.2s;
		pointer-events: none;
	}
	
	&.IG-loading {
		
		&::after {
			background-color: rgba(0, 204, 0, 0.8);
			color: white;
		}
	}
	
	&.error {
	
		&::after {
			content: "Error!";
			background-color: rgba(204, 45, 0, 0.8);
			color: white;
		}
	}
}

.IG-frame {
	padding-bottom: 75%;
	position: absolute;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	background-image: url(../img/Germ_E-Card_Frame.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.IG-add-ons {
	overflow: hidden;
	margin: 20px 0;
	text-align: center;

	img {
		height: 70px;
		vertical-align: top;
		padding-right: 10px; 
		margin-bottom: 10px;
		 
		 + img {
			padding-left: 10px; 
			border-left: 1px solid #ccc;
		}
	}
}

.IG-buttons {
	margin: 20px 0;
}

button[disabled] {
	cursor: no-drop;
}

.IG-close {
	display: block;
}

.IG-downloadIMG {
	margin: 20px auto;
}

.IG-download {
	button {
		display: inline-block;
		background: black;
		color: white;
		border: none;
		-webkit-appearance: none;
		padding: 14px 20px;
		font-size: 16px;
		border-radius: 60px;
		text-transform: uppercase;
		margin: 2px 0 0 10px;
		cursor: pointer;
	}
	
	&:hover button {
		background: #1ada41;
	}
}

.IG-export {
	display: inline-block;
	background: black;
	color: white;
	border: none;
	-webkit-appearance: none;
	padding: 8px 16px;
	font-size: 14px;
	border-radius: 60px;
	text-transform: uppercase;
	margin: 2px 0 0 10px;
	cursor: pointer;

	&:hover {
		background-color: #0C0;	
	}

	&:disabled {
		background-color: #ccc;
		
		&:hover {
			background-color: #ddd;	
		}
	}
}

.IG-clear {
	@extend .IG-export;
	
	&:hover {
		background-color: #720000;
	}
}

.LB .LB-display-none {
  display: none;
}

.IG-LB {
	box-sizing: border-box;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0%;
  background-color: lightgrey;
  vertical-align: top;
  box-shadow: none;
  transition: background-color 0.3s ease;
	
	&:hover {
		border: 2px solid black;	
	}
	
	svg {
	  position: absolute;
	  fill: white;
	  left: 0;
		transition: fill 0.3s ease;
	}
}

.LB-facebook {
  background-color: #3b5998;
	
	svg {
	  top: 22%;
	  left: 11%;
	}
}

.LB-twitter {
  background-color: #55acee;

	svg {
	  top: 28%;
	  left: 3%;
	}
}

.LB-pinterest {
  background-color: #B8242A;

	svg {
	  top: 27%;
	}
}

.LB-email {
  background-color: #c02ee0;
	
	svg {
	  top: 30%;
	}
}

.LB-url.LB-url {
	margin: 0;
	font-size: 1em;
	width: 120px;
	text-indent: 8px;
	border-radius: 50px;
	cursor: pointer;
}